<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Pixel Canvas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <input id="colorpicker" />
  <div id="container" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js'></script>
  <script src="javascripts/index.js"></script>
</body>

</html>